.container
{
    width: 100%;
    max-width: 1440px;
    padding: 0px 140px;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width:1200px)
{
    .container
    {
        padding: 0px 80px;
    }
}

@media screen and (max-width:1024px)
{
    .container
    {
        padding: 0px 40px;
    }
}

@media screen and (max-width:768px)
{
    .container
    {
        padding: 0px 32px;
    }
}